.button {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s ease color, 0.5s ease background;

  font-size: 16px;
  font-weight: 600;
}

.primary {
  width: 227px;
  background: #633cff;
  color: #fff;
}

.secondary {
  width: 227px;
  color: #633cff;
  border: 1px solid #633cff;
}

.primary:active {
  border-radius: 8px;
  background: #beadff;
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

.secondary:active {
  background: #efebff;
}

.button.primary:disabled {
  opacity: 0.25;
  background: #633cff;
}

.button.secondary:disabled {
  border: 1px solid #633cff;
  opacity: 0.25;
}
