@import '@/styles/theme.scss';

.autocomplete {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  &__input_arrow {
    width: 15px;
    transition: 150ms ease;
    &:hover {
      cursor: pointer;
    }
    &--active {
      transform: rotate(180deg);
    }
  }

  &__error {
    color: $red;
  }
}
