@use "@/styles/typography" as *;
@use "@/styles/theme" as *;

.platform {
    $root: &;
    width: 100%;
    height: 228px;
    background: $light-grey;
    padding: 20px;
    display: grid;
    gap: 12px;


    &__section {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__container {
            @extend .platform__section;
            gap: 8px;
        }

        &__button {
            @include body-m;
            cursor: pointer;
        }

    }


    &__fieldset {
        display: grid;
        gap: 4px;

        &__label {
            @include body-s;
            font-size: 12px;
        }
    }

}