@use '@/styles/typography' as *;
@use '@/styles/theme' as *;

.links {
  height: 739px;
  width: 100%;
  min-width: 593px;
  padding: 40px;
  overflow-y: scroll;

  &__description {
    @include body-m;
    color: $grey;
    margin-top: 8px;
  }

  &__button--add {
    width: 100%;
    margin: 40px 0 24px 0;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &__platforms {
    max-height: 100%;
    width: 100%;
    display: grid;
    gap: 24px;

    &__platform {
      width: 100%;
      height: 228px;
      background: $light-grey;
    }
  }

  @media only screen and (max-width: 997px) {
    min-width: unset;
  }

  @media only screen and (max-width: 370px) {
    &__title {
      line-height: 40px;
    }
    padding: 20px;
  }
}
