@import '@/styles/theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*:after {
  -webkit-tap-highlight-color: transparent;
}

html {
  line-height: 150%;
  font-style: normal;
}

/* Scroll bar styles */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

body {
  width: 100vw;
  height: 100vh;
  padding: 24px;
  background-color: $light-grey;
  overflow-x: hidden;
  color: #333;
}

/* Heading M */

h1 {
  font-size: 32px;
  font-weight: 700;
}

/* Heading S */

h2 {
  font-size: 16px;
  font-weight: 600;
}

/* Body M */

h6 {
  font-size: 16px;
  font-weight: 400;
}

/* Body S */

p {
  font-size: 12px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  color: $purple;
  text-decoration: none;
}

input,
fieldset,
button {
  border: unset;
  outline: unset;
}

@mixin body-without-padding {
  body {
    padding: 0px !important;
  }
}
