:root {
  --purple-100: #efebff;
  --purple-200: #efebff;
  --purple-300: #efebff;
  --grey-100: #efebff;
  --grey-200: #efebff;
  --grey-300: #efebff;
  --grey-400: #efebff;

  --white: #ffffff;
  --red: #ff3939;
}
