@use '@/styles/typography.scss' as *;
@use '@/styles/theme.scss' as *;

.header {
  width: 100%;
  height: 78px;
  background: $white;
  padding: 16px 16px 16px 24px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .small_logo {
    display: none;
  }

  .nav {
    width: max-content;
    height: max-content;
    display: flex;

    &__a {
      height: 46px;
      width: 122px;
      border-radius: 8px;
      color: $grey;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      &:nth-child(2) {
        width: 187px;
      }

      @include heading-s;

      &--active {
        color: $purple;
        background-color: $light-purple;

        path {
          fill: $purple;
        }
      }
    }

    &__a--primary {
      background-color: $purple;
      color: $white;
    }

    &__a--secondary {
      max-width: 114px;
      display: grid;
      place-items: center;

      color: $purple;
      font-size: 16px;
      font-weight: 600;

      border-radius: 8px;
      border: 1px solid $purple;

      &:hover {
        background: $light-purple;
      }
    }

    &__mobile_menu_icon {
      display: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .right_nav {
    display: flex;
    gap: 10px;
  }

  .non_auth_nav {
    display: flex;
    gap: 8px;
  }

  .mobile_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 92px;
    left: 24px;
    gap: 10px;
    padding: 24px;
    background-color: $white;
    z-index: 5;
    width: calc(100% - 43px);
    box-shadow: 0px 40px 30px rgb(0 0 0 / 20%);
    border-radius: 12px;

    .nav__a {
      width: 100%;
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 850px) {
    .right_nav {
      display: none;
    }

    .nav {
      display: none;
      &__mobile_menu_icon {
        display: block;
      }
    }
  }

  @media only screen and (max-width: 510px) {
    .small_logo {
      display: block;
    }

    .large_logo {
      display: none;
    }
  }
}
